.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    height: max-content;
    min-height: 90vh;

    background-color: var(--background-color);
    
    padding: 5vh 5vw;
  }

.no-auth {
    color: var(--high-contrast-color);
    font-size: 1.3rem;
    margin: 5vh;
}

.upload-widget{
    background-color: #536958;
    width: 10vw;
    min-width: min-content;
    height: 5vh;
    min-height: min-content;;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-gallery{
    margin-top: 20%;
}