:root .portfolio-container{
    margin-top: 10%; /* Adjust value as needed */
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }



.upload-widget{
    background-color: #536958;
    width: 10vw;
    min-width: min-content;
    height: 5vh;
    min-height: min-content;;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-gallery{
    margin-top: 20%;
}