/* this css styles the About us page */
.originNav {
    display: none;
   }

.main-Container-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;
    background-color: #0D3B66;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 95vh;
}

.navigation-bar-about {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 0;
    background-color: #f9f8eb;
    text-align: center;
    border: 5px solid #6C91C2;
    border-radius: 15px;
    grid-row: 1 / span 6;
}

.content-about {
    background-color: #f9f8eb;
    border: 5px solid #6C91C2;
    color: #230C0F;
    padding: 15px;
    border-radius: 15px;
    grid-row: 2/span 5;
    grid-column: 2/span 6;
    overflow: auto;
}

.title-bar-about {
    display: flex;
    position: relative;
    background-color: #f9f8eb;
    border:  5px solid #6C91C2;
    grid-column: 2/span 6;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navlinksAbout {
    display: flex;
    flex-direction: column;
}

.linksA {
    font-size: 1.8rem;
}

#title-text {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    height: 100;
    width: 100%;
    color:#0D3B66;
    margin: 0;
}

#about-us {
    margin: 15px;
}

.socials-about {
display:flex;
justify-content: center;
}

@media (max-width: 1600px) {
    
    .main-Container-about {
        max-height: 85vh;
    }

    .navigation-bar-about{
        display: none;
    }

    .content-about{
        grid-column: 1/span 7 ;
    }

    .title-bar-about {
        grid-column: 1/span 7;
    }

  }

  @media (max-width: 800px) {
    .main-Container-about {
        height: 80vh;
    }

    #title-text{
        height: auto;
        font-size: 2.5rem;
    }
  }