/* this is the styling for the landing page */
    .originNav {
    display: none;
   }
   
   .main-container-quote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;
    background-color: #0D3B66;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 50vw;
   }
   
   .navigation-bar-quote {
    display: grid;
    min-width: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    position: relative;
    background-color: #f9f8eb;
    text-align: center;
    border: 5px solid #6C91C2;
    border-radius: 15px;
    grid-row: 1/ span 6;
   }
   
   #navlinks-quote {
    display: flex;
    flex-direction: column;
    grid-row: 4;
   }
   
   .links-quote {
       font-size: 1.8rem;
   }
   
   /* for use later currently no ideas*/
   /*.linksLP:hover {
   background-color: aqua;
   }*/
   
   a {
       text-decoration: none;
       color: black;
   }
   
   .logo-header-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f8eb;
    border: 5px solid #6C91C2;
    color: #230C0F;
    border-radius: 15px;
    grid-row: 1;
    grid-column: 2/span 6;
   }
   
   .content-block-quote {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #f9f8eb;
    border: 5px solid #6C91C2;
    color: #230C0F;
    border-radius: 15px;
    grid-row: 2/span 5;
    grid-column: 2/span 6;
   }

   .content-block h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  #socials-callout-quote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 6;
    margin: 0;
    font-size: 1.3rem;
    color: #230C0F;
}

  .socials-container-quote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 7;
  }