/* this is the styling for the landing page */
.originNav {
    display: none;
   }
   
   #logo {
       height: 150px;
       width: 150px;
       border-radius: 50%;
       border: 2px solid black;
       margin: 5px;
   }
   
   hr {
       background-color: #DACAA4;
       height: 3px;
       width: 100px;
       border: 0px;
       padding: 0px;
   }
   
   .main-container {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-gap: 20px;
       background-color: black;
       margin-left: 30px;
       margin-right: 30px;
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
       height: 100vw;
   }
   
   .navigation-bar {
       position: relative;
       background-color: #E3D8B7;
       text-align: center;
       border: 5px solid #DACAA4;
       border-radius: 15px;
       grid-row: 1 / span 6;
   }
   
   #navlinksLP {
       text-align: center;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
   }
   
   .linksLP {
       font-size: 1.8rem;
   }
   
   /* for use later currently no ideas*/
   /*.linksLP:hover {
   background-color: aqua;
   }*/
   
   a {
       text-decoration: none;
       color: black;
   }
   
   .logo-header {
       background-color: #E3D8B7;
       grid-column: 2/span 6;
       border-radius: 15px;
   }
   
   .footer-block {
       border-radius: 15px;
       background-color: #E3D8B7;
       grid-row: 7;
       grid-column: 1/span 7;
   }
   
   .content-block {
       background-color: #E3D8B7;
       border-radius: 15px;
       grid-row: 2/span 5;
       grid-column: 2/span 6;
   }

   .content-block h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }