/* variables for the color pallet (to be inserted later) */
:root {
  background-color: #0d3b66;
  --background-color: #ede9da;
  --text-color: #0d3b66;
  --border-color: #6c91c2;
  --high-contrast-color: #ef3e36;
}

/* parent container for title and editor */
.content-container {
  /* flexbox styling */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  /* general styling */
  width: 100%;
  min-height: 90vh;
  height: max-content;


  background-color: var(--background-color);
  color: var(--text-color);
}

/* title bar */
.editor-title {
  /* flexbox styling */
  display: flex;
  align-items: center;

  /* general styling */
  text-align: center;
  height: max-content;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

/* parent container for whole editor (menu / editor window / save&cancel buttons */
.editor {
  /* flexbox child styling */
  flex-grow: 2;

  /* flexbox parent styling */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* container div for the tiptap editor */
.editor div {
  /* flexbox child styling */
  flex-grow: 2;

  /* flexbox parent styling */
  display: flex;
  flex-flow: column nowrap;

  /* general styling */
  max-height: 75vh;
}

/* menu bar */
.editor .format-bar {
  /* flexbox child styling */
  flex-grow: 0;

  /* flexbox parent styling */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5rem;
  
  /* general styling */
  height: min-content;
  width: 90vw;
  max-width: 70rem;

  padding: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
  border: 3px solid var(--text-color);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: var(--border-color);
}

/* breaks between format button groups */
.vertical-break {
  font-weight: 500;
}

/* buttons within the format bar */
.format-button {
  height: 2rem;
  width: 2rem;

  background-color: var(--border-color);
  border: 2px solid var(--text-color);
  font-weight: 600;
}
.format-button:hover {
  background-color: var(--text-color);
}

/* active format buttons within the format bar */
.is-active {
  background-color: var(--text-color);
}
.is-active:hover {
  background-color: var(--border-color);
}

/* editor window */
.tiptap {
  /* general styling */
  min-height: 100%;
  width: 90vw;
  max-width: 70rem;
  overflow: auto;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: 3px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.tiptap:focus {
  outline: none;
}

/* container div for cancel & save buttons */
.editor .change-buttons {
  /* flexbox child styling */
  align-self: flex-end;
  flex-grow: 0;

  /* flexbox parent styling */
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  /* general styling */
  height: 3vh;
  min-height: min-content;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* cancel button */
#cancel {
  border-color: var(--high-contrast-color);
  font-size: 1.1rem;
  color: var(--high-contrast-color);
}
#cancel:hover {
  background-color: var(--high-contrast-color);
  color: var(--background-color);
}

/* save button */
#save {
  border-color: var(--border-color);
  font-size: 1.1rem;
  color: var(--text-color);
}
#save:hover {
  background-color: var(--border-color);
  color: var(--background-color);
}

/* disabled behavior for all buttons */
.format-button:disabled,
#cancel:disabled,
#save:disabled {
  color: #212529;
  background-color: #6c757d;
  border-color: #212529;
  opacity: 50%;
}

@media (max-width: 800px) {
  .content-container {
    min-height: 83vh;
    height: min-content;
  }

  .editor-title {
    font-size: 1.7rem;
  }
  
  .editor .format-bar {
    flex-flow: row nowrap;
    overflow: auto;
  }

  .editor div {
    max-height: 60vh;
  }
}