/* variables for the color pallet (to be inserted later) */
:root {
    --background-color: #ede9da;
    --text-color: #0d3b66;
    --border-color: #6c91c2;
    --high-contrast-color: #ef3e36;
}

/* parent container for title and editor */
.content-container {
    /* flexbox styling */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    /* general styling */
    width: 100%;
    height: 90vh;

    background-color: var(--background-color);
    color: var(--text-color);
}

/* title bar */
.editor-title {
    /* general styling */
    text-align: center;
    height: 4;
    font-size: 2em;
    font-weight: 600;
    margin: 0;

}

/* parent container for whole editor (menu / editor window / save&cancel buttons */
.editor {
    /* flexbox styling */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    /* general styling */
    height: 86vh;
}

/* menu bar */
.format-bar {
    /* becoming it's own flex parent container */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: .5rem;

    /* general styling */
    /* height: 3vh; */

    width: 90vw;
    max-width: 70rem;

    padding: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 3px solid var(--text-color);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: var(--border-color);
}

.vertical-break {
    font-weight: 500;
}

/* buttons within the format bar */
.format-button {
    height: 2rem;
    width: 2rem;

    background-color: var(--border-color);
    border: 2px solid var(--text-color);
    font-weight: 600;
}

.format-button:hover {
    background-color: var(--text-color);
}

/* active format buttons within the format bar */
.is-active {
    background-color: var(--text-color);
}
.is-active:hover {
    background-color: var(--border-color);
}

/* editor window */
.tiptap {
    /* flex-grow: 2; */
    /* general styling */
    height: min-content;
    max-height: 77vh;

    width: 90vw;
    max-width: 70rem;
    overflow: auto;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 3px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.tiptap:focus {
    outline: none;
}

/* container div for cancel & save buttons */
.change-buttons {
    /* flexbox styling */
    align-self: flex-end;

    /* becoming it's own flexbox */
    display: flex;
    gap: .5rem;

    /* general styling */
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* cancel button */
#cancel {
    border-color: var(--high-contrast-color);
    font-size: 1.1rem;
    color: var(--high-contrast-color);
}
#cancel:hover {
    background-color: var(--high-contrast-color);
    color: var(--background-color);
}

/* save button */
#save {
    border-color: var(--border-color);
    font-size: 1.1rem;
    color: var(--text-color);
}
#save:hover {
    background-color: var(--border-color);
    color: var(--background-color);
}

/* disabled behavior for all buttons */
.format-button:disabled,
#cancel:disabled,
#save:disabled {
    color: black;
    background-color: gray;
    /* border: none; */
    opacity: 50%;
}
