/* container for the mobile navbar */
.mobile-nav {
  display: none;
}

/* container for the desktop navbar */
.desktop-nav {
  /* flexbox styling */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  /* general styling */
  height: 10vh;
  min-height: 5rem;
  padding: 0 2vw;

  background-color: var(--border-color);
}

/* container for the navlinks */
.admin-links {
  /* flexbox-child styling */
  flex-grow: 2;

  /* flexbox-parent styling */
  display: flex;
  gap: 2rem;
}

/* each specific navlink */
.admin-nav {
  padding: 5px 10px;

  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;

  background-color: var(--background-color);
  border-radius: 5px;
  border: 2px solid var(--text-color);
}

.admin-nav:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  border: 2px solid var(--background-color);
  transition: 0.3s;
}

/* navlink for the current page */
.admin-links .active {
  background-color: var(--border-color);
  border: 2px solid var(--border-color);
}
.admin-links .active:hover {
  color: var(--text-color);
  background-color: var(--border-color);
  border: 2px solid var(--border-color);
  transition: 0;
}

/* company logo */
header #logo {
  height: 8vh;
  min-height: 4rem;
  width: auto;
}

/* mobile styling */
@media (max-width: 800px) {

  /* container for the desktop navbar */
  .desktop-nav {
    display: none;
  }

  /* container for the mobile navbar */
  .mobile-nav {
    /* flexbox styling */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    /* general styling */
    min-height: 11vh;
    height: min-content;
    padding: 2vw;
    color: var(--text-color);
    background-color: var(--border-color);
  }

  /* buttons for menu and log in/out */
  .mobile-icon {
    height: 30px;
    color: var(--text-color);
  }

  /* container for the navlinks */
  .admin-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100vw;
    background-color: var(--border-color);
    transition: 1s;
  }

  /* each specific navlink */
  .admin-nav {
    background-color: var(--border-color);
    border: none;
  }
  .admin-nav:hover {
    border: none;
    background-color: var(--border-color);
  }
}