.mobile-icon {
  display: none
}

.admin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  height: 10vh;
  padding: 0 1vw;

  background-color: var(--border-color);
}

.admin-links {
  /* flexbox-child styling */
  flex-grow: 2;

  /* flexbox-parent styling */
  display: flex;
  gap: 2rem;
}

.admin-nav {
  padding: 5px 10px;

  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;

  background-color: var(--background-color);
  border-radius: 5px;
  border: 2px solid var(--text-color);
}
.admin-nav:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    border: 2px solid var(--background-color);
}

#admin-logo {
  border: 2px solid var(--text-color);
  border-radius: 50%;

  height: 8vh;
}

@media (max-width: 1200px) {
  .mobile-icon {
    display: inline;
    height: 4vh;
    color: var(--text-color);
  }
  .admin-header {
    padding: 0 3vw;
  }
  .admin-links {
    display: none;
  }
  .admin-nav {
    font-size: .5rem;
  }
  #logout {
    display: none;
  }
  #logo {
    /* i don't think i need to do anything with this */
  }
}